Flask~=3.0.2
PyJWT~=2.8.0
flask_jwt_extended~=4.6.0
flask_cors~=4.0.0
annotated-types~=0.6.0
flask_pydantic~=0.12.0
python-dotenv~=1.0.1
pydantic~=2.6.0
dashscope~=1.14.1
requests~=2.31.0
websocket-client~=1.7.0